#mainhub.span9
  .row-fluid
    .span9
      .row-fluid
        .span12
          = render 'shared/breadcrumbs'
      .well
        .row-fluid{:style => "margin-bottom:18px;"}
          .span2
            = image_tag @commentable.logo_url(:thumb) if @commentable.logo?
          .span10
            %h1.projectnamefont{:style => "text-align: top;"}= @commentable.business_name
        
        = render 'comments'
    
    .span3
      =render 'shared/side_menu'