#mainhub.span9
  .row-fluid
    .span12
      .well
        .row-fluid
          .span9
            %h3{:style => "margin-bottom:10px;"} Latest Notifications at Georgia State University
          .span3
            %a.btn.btn-primary.minifont{:href => "#{new_account_notification_path(current_account.id)}", :style => "float:right;"}
              %i.icon-bullhorn
              Post New Notification
        .row-fluid
          .span3
            .alert.alert-error{:style => "margin-top:10px; margin-bottom:0px; padding:5px;", :rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "This notification type is reserved for priority messages issued by professors. It can be recognized by the red notification bubble."}
              %center
                %strong.minifont Alert Notification
          .span3
            .alert.alert-warning{:style => "margin-top:10px; margin-bottom:0px; padding:5px;", :rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "This notification type is reserved for messages informing users about time/date sensitive events. It can be recognized by the yellow notification bubble."}
              %center
                %strong.minifont Event Notification
          .span3  
            .alert.alert-success{:style => "margin-top:10px; margin-bottom:0px; padding:5px;", :rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "This notification type is reserved for project hiring notifications. If you are interested in working with a particular project, look for the green notification bubble."}
              %center
                %strong.minifont Recruiting Notification
          .span3  
            .alert.alert-info{:style => "margin-top:10px; margin-bottom:10px; padding:5px;", :rel => "tooltip", "data-placement" => "bottom", "data-original-title" => "This notification type is reserved for general announcements, milestones, landmarks. It can be recognized by the blue notification bubble."}
              %center
                %strong.minifont Announcement Notification                
        .row-fluid
          .span12      
            - @notification_date.each do |u|
              %h4{:style => "margin-bottom: 10px"}= u[0]
              - @notifications.each do |n|
                - if n.created_at.strftime("%Y-%m-%d") == u[0]
                  -if n.notification_type == "Event"
                    -if n.priority?
                      .alert.alert-error{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n
                    -else
                      .alert.alert-warning{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n
                  -elsif n.notification_type == "Recruiting"
                    -if n.priority?
                      .alert.alert-error{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n
                    -else
                      .alert.alert-success{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n
                  -else n.notification_type == "Announcement"
                    -if n.priority?
                      .alert.alert-error{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n
                    -else
                      .alert.alert-info{:style => "margin-top:0px; margin-bottom:10px;"}
                        =render 'notification_layout', :n => n