#mainhub.span9
  .well
    .row-fluid
      %h4= @notification.title
      %p= "Type: " + @notification.notification_type
      %p= "Date & Time: " + @notification.date.strftime("%m/%d/%Y") unless @notification.date == nil
      %p= "Description: " +  @notification.description