#mainhub.span6 
  .well
    .row-fluid
      %h4= @notification.title
      %p= "Type: " + @notification.notification_type
      %p= "Description: " +  @notification.description
.span3
  = render :partial => "home/notifications"
