%center
  %img{:src => "/assets/uga2.png"}
%center
  %h2 Welcome to The University of Georgia's entrepreneur portal.
  %br
  %h3 By signing up you can start projects, collaborate with peers, request and comment on business plans. All while staying informed of the latest news and events scheduled on your campus.   
