= form_for :notification, url: notifications_path do |n|
  = n.hidden_field :notifier_id, :value => @project.id
  = n.hidden_field :notifier_type, :value => "Project"
  = render "shared/notification_form", :n => n 
