-if account_signed_in?
  =render 'show_content'
-else
  .row-fluid
    .span3
      %img{:src => "/assets/uga2.png"}
      .well{:style => "margin-top:18px;"}
        = render :partial => "devise/sessions/sign_in"
  
    =render 'show_content'