.row-fluid
  .span12
    = devise_error_messages!
.row-fluid
  .span2
    %br
  .span4
    %center
      %img{:src => "/assets/gsu.png"}
      %h2 Welcome to Georgia State University's entrepreneur portal.
  .span4
    .well
      = render :partial => "sign_in" 
    %img{:src => "/assets/powered.png", :style => "opacity:1; filter:alpha(opacity=100);"}

  .span1
